<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
    <bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext"/>
    <mongo:auditing mapping-context-ref="mappingContext"/>
    <bean class="com.xc350.web.base.mongo.AuditBeforeUpdateEventListener">
        <property name="mappingContext" ref="mappingContext"/>
    </bean>

    <!--<mongo:mongo-client id="mongo" host="118.184.18.67" port="27017"/>-->
    <mongo:db-factory id="mongoDbFactory" host="118.184.18.71" port="27017"   dbname="beat" username="beat" password="beat" authentication-dbname="admin"/>
    <mongo:mapping-converter id="mongoConverter" db-factory-ref="mongoDbFactory" mapping-context-ref="mappingContext">
        <mongo:custom-converters>
            <mongo:converter>
                <bean class="com.x404.beat.core.mongo.JsonReadConverter"/>
            </mongo:converter>
            <mongo:converter>
                <bean class="com.x404.beat.core.mongo.JsonWriteConverter"/>
            </mongo:converter>
        </mongo:custom-converters>
    </mongo:mapping-converter>
    <bean id="mongoTemplate" class="com.xc350.web.base.mongo.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="mongoConverter" ref="mongoConverter"/>
    </bean>




</beans>
