<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource">
        </property>

        <property name="mapperLocations" value="classpath:mybatis/*.xml">

        </property>
        <property name="plugins">
            <array>
                <bean class="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
                    <property name="dialect">
                        <bean class="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
                    </property>
                </bean>

            </array>

        </property>

    </bean>

    <!--  Mapper 扫描 -->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">

        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>

        <property name="basePackage" value="com.x404"/>
        <property name="annotationClass"
                  value="com.x404.module.basedao.mybatis.MyBatisRepository"/>
    </bean>
</beans>