.add{background-image:url('../images/add.png')  !important;background-repeat:no-repeat;}
.back{background-image:url('../images/back.png')  !important;background-repeat:no-repeat;}
.book_edit{background-image:url('../images/book_edit.png')  !important;background-repeat:no-repeat;}
.calculator{background-image:url('../images/calculator.png')  !important;background-repeat:no-repeat;}
.Delete{background-image:url('../images/delete.png')  !important;background-repeat:no-repeat;}
.detailview{background-image:url('../images/application_view_detail.png')  !important;background-repeat:no-repeat;}
.folder{background-image:url('../images/folder.png')  !important;background-repeat:no-repeat;}
.map{background-image:url('../images/map.png')  !important;background-repeat:no-repeat;}
.pencil{background-image:url('../images/pencil.png')  !important;background-repeat:no-repeat;}
.picture{background-image:url('../images/picture.png')  !important;background-repeat:no-repeat;}
.pie{background-image:url('../images/pie.png')  !important;background-repeat:no-repeat;}
.role{background-image:url('../images/user_suit.png')  !important;background-repeat:no-repeat;}
.search{background-image:url('../images/search.png')  !important;background-repeat:no-repeat;}
.user{background-image:url('../images/user.png')  !important;background-repeat:no-repeat;}
